/aggression_annotated_comments.tsv
/aggression_annotations.tsv
/aggression_worker_demographics.tsv
/attack_annotated_comments.tsv
/attack_annotations.tsv
/attack_worker_demographics.tsv
/toxicity_annotated_comments.tsv
/toxicity_annotations.tsv
/toxicity_worker_demographics.tsv
/aggression_annotated_comments_processed.csv
/aggression_annotations_texts_folds.csv
/aggression_annotations_users_folds.csv
/attack_annotated_comments_processed.csv
/attack_annotations_texts_folds.csv
/attack_annotations_users_folds.csv
/toxicity_annotated_comments_processed.csv
/toxicity_annotations_texts_folds.csv
/toxicity_annotations_users_folds.csv
