/aggression_annotated_comments.tsv
/aggression_annotations.tsv
/aggression_worker_demographics.tsv
/attack_annotated_comments.tsv
/attack_annotations.tsv
/attack_worker_demographics.tsv
/toxicity_annotated_comments.tsv
/toxicity_annotations.tsv
/toxicity_worker_demographics.tsv
