.pytest_cache
*.pyc
**/embeddings/*.p
.ipynb_checkpoints
storage/logs
!.gitkeep
storage/checkpoints
storage/results
storage/emotions_data
storage/emotions_simple_data/embeddings/
storage/outputs/*
!.gitkeep

# VirtualEnv dir
venv/

# JetBrains IDE temp dir
.idea/

# MacOS temp dir
**/.DS_Store
env/
personalized_nlp/notebooks/data
personalized_nlp/notebooks/transformer_experiments
