*.pyc
**/embeddings/*.p
.ipynb_checkpoints
personalized_nlp/storage/logs
personalized_nlp/storage/checkpoints
personalized_nlp/storage/results
personalized_nlp/storage/emotions_data
personalized_nlp/storage/emotions_simple_data/embeddings/

# VirtualEnv dir
venv/

# JetBrains IDE temp dir
.idea/

# MacOS temp dir
**/.DS_Store
env/
personalized_nlp/notebooks/data
personalized_nlp/notebooks/transformer_experiments
personalized_nlp/storage/word2vec/*
