/annotations_users_folds.csv
/annotations_texts_folds.csv
/annotations.csv
/cawi1_6000_annotations_normalized.csv
/cawi1_6000_annotations_normalized_texts_folds.csv
/cawi1_6000_annotations_normalized_users_folds.csv
/texts_processed.csv
/texts.csv
