/cockamamie_annotations_only_controversial_a_non_empty.csv
/cockamamie_gobbledegook_annotations_b.csv
/cockamamie_gobbledegook_annotations_c.csv
/cockamamie_gobbledegook_annotations.csv
/cockamamie_gobbledegook_annotations_d.csv
/cockamamie_gobbledegook_annotations_e.csv
/cockamamie_gobbledegook_texts_b.csv
/cockamamie_gobbledegook_texts_c.csv
/cockamamie_gobbledegook_texts.csv
/cockamamie_gobbledegook_texts_d.csv
/cockamamie_gobbledegook_texts_e.csv
/cockamamie_texts_only_controversial_a_non_empty.csv
